{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>{{ title }} </h1>
                <p>{{ message }}</p>
            </div>
        </div>
    </div>
{% endblock %}

